@CHARSET "ISO-8859-1";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: fixed;
  /*margin-top: -60px;  negative value of footer height */
  bottom:0px;
  height: 80px;
  clear:both;
  padding-top:20px;
} 